.container.row
    .span6.offset3.hero-unit.young-hero
        h2 @#{name} archived so far ...
            a(href='/logout').btn.btn-warning.btn-small.pull-right Logout

    .span6.offset3
        .tweets
