.container.row

    .span6.offset3.hero-unit.young-hero
        h2 @#{name}
            small &nbsp;&mdash; #{count} tweets archived so far ...
            a(href='/logout').btn.btn-warning.btn-small.pull-right Logout


    .span2.offset1.sidebar
        .input-append
            input(placeholder='Search').search
            .add-on
                .trigger-search &gt;
                .clear-search.hidden x

        ul.facet.users.nav.nav-tabs.nav-stacked
            li &nbsp;
        ul.facet.tags.nav.nav-tabs.nav-stacked
            li &nbsp;

    .span6
        .tweets

    script(type='text/javascript')
        var me="#{name}";
