!!!
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')

    div.container!= body

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap-tab.js')
    script(src='/javascripts/jquery.esn.autobrowse.js')
    script(src='/javascripts/jstorage.js')
    script(src='/javascripts/jquery.json.js')
    script(src='/javascripts/main.js')